.menu__link {
    color: var(--gray);
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.menu__link--ativo {
    color: var(--mine-shaft);
    font-weight: bold;
}

.menu__link:last-child {
    margin-right: none;
}

.menu__link:hover {
    text-decoration: underline;
}
