.cabecalho {
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

@media screen and (max-width: 768px) {
    .cabecalho {
        padding: 0 1rem;
        justify-content: center;
    }
}
