.receita__botao {
    background: var(--totem-pole);
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.receita__botao:hover {
    background: var(--red-oxide);
    cursor: pointer;
}